{% extends "page_layout.html" %}
{% block results_home %}
<div id="home">
{% if info %}
  {% for heading in info['headings'] %}
    {% if heading['title'] == 'home' %}
      <div class="title">
        <h1 id="heading">Kenny Dur<span class="kern">k</span>in</h1>
        <div class="title-text">
          <h4 id="subheading" class="fadeable">Full Stack Web Developer</h4>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p> error in loading page </p>
{% endif %}
</div>
{% endblock %}